*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  align-items: end;
  width: 1134px;
  gap: 32px;
  grid-template-areas:
    "result content__details"
    "result content__details";
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  font-size: 18px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  font-size: 18px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  width: 225px;
  height: 27px;
  background-color: transparent;
  opacity: 100%;
  border: 1px solid #ffffff;
  border-left: none;
  border-right: none;
  color: #ffffff;
}


.search-form__textfield::placeholder {
  font-size: 18px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  width: 225px;
  height: 27px;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-color: #ffffff;
  opacity: 70%;
  appearance: none;
}

.search-form__textfield:active 
{
  border: 1px solid white;
}

.search-form__textfield:focus-visible  
{
  outline: 1px solid white;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  display: none;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__textfield:focus {
  outline: none;
}



.result {
  grid-area: result;
}

.result__video-container
{
  position: relative;
}

.content__list-container
{
  position: relative;
}

.button {
  background-color: transparent;
  color: #ffffff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  border-color: #ffffff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 30px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  flex-grow: 1;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*.content__list-item
{padding: 0 3px;}*/

.content__details {
  grid-area: content__details;
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 2px;
}

.content__video-card-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
  /*margin-bottom: 7px;*/
}

.content__video-card-description {
  line-height: 16.2px;
  font-family: "Fira Sans Condensed";
  font-style: normal;
  display: -webkit-box;
  /*-webkit-line-clamp: 4;*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  margin-bottom: 26px;
  font-size: 75px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 94%;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset-title {
  font-style: normal;
  font-size: 18px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  margin-bottom: 7px;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
   display: block; 
}

.content__card-link:hover
{
  text-decoration: underline;
}

.content__card-link:focus
{
  outline: none;
}

.content__card-link:focus-visible
{
  outline: 1px solid white;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__card-link_current
{
  background-color:#545050;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
